#search-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.params {
    margin: 3px;
}

#query {
    text-align: center;
}

#results {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 10px;
}

.charity-line {
    display: flex;
    column-gap: 10px;
}

.like-button {
    height: 20px;
    width: 20px;
    position: relative;
    top: 23px;
    background-color: white;
    border: 1px solid;
    border-color: black;
    text-align: center;
    text-justify: auto;
}

.like-button:hover {
    background-color: yellow;
    color: black;
}

.liked {
    background-color: blue;
    color: antiquewhite;
}

.mission {
    width: 90vw;
    word-wrap: break-word;
}