#search-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.params {
    margin: 3px;
}

#query {
    text-align: center;
}

.charity-line {
    display: grid;
    margin: auto;
}

.like-button {
    height: 30px;
    width: 30px;
    background-color: white;
    border: 1px solid;
    border-color: black;
}

.like-button:hover {
    background-color: yellow;
}

.liked {
    background-color: blue;
}